body{
  background: gray;
}

.container{
  margin: auto;
  margin-top: 50px;
  border: 2px solid gray;
  width: 25%;
  align-items: center;
  display: flex;
  justify-items: center;
  flex-direction: column;
  background-color:beige ;
}

input{
  padding: 10px;
  border: 1px solid white;
}
p{
font-weight: 700;
}

.calculate{
  width:180px;
  padding: 10px;
  margin: 10px;
  background-color: blue;
  border: none;
  font-weight: 700;

}

.horizontal-line {
  border-bottom: 1px solid black;
}
