.App {
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  margin: auto;
  margin-top: 60px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  width: 100%;
  font-size: 20px;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  width: 120px;
  height: 40px;
  border: none;
  font-size: 16px;
  background-color: purple;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #6a1b9a;
}


