.container {
  margin-top: 100px;
  box-shadow: 0 4px 8px rgba(63, 60, 60, 0.5);
  padding: 50px 10px ;
}

.item-container {
  box-shadow: 0 4px 8px rgba(89, 119, 20, 0.1);
  padding: 10px;
  margin-top: 20px;
  background-color: rgb(250, 241, 230);
}

.circle-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #000;
  cursor: pointer;
}

.faqQues {
  font-weight: 800;
}
.faqAns{
  font-weight: 600;
}

h1 {
  font-weight: 800;
  text-align: center;
}

.circle-icon:hover {
  background-color: #f0f0f0;
}

.arrow {
  transform: rotate(90deg);
}
